<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <style type="text/css">
        #topmenu , #submenu{
            margin-bottom: 0px;
        }

        #topmenu{
            padding: 10px 0px 10px 0px;
        }

        .menu-item{
            padding: 0px 0px 0px 0px;
        }

        .removePadd>li>a{padding:5px!important;}

        .navbar{
            min-height: 30px;
        }
        .nav-tabs li a{background-color: #f8f8f8; color:#333}
        .nav-tabs li.active a{background-color: #428bca; color:#fff;}
        .nav-tabs li.focus a{background-color: #428bca; color:#fff;}
        .tab-content {
            color : white;
            background-color: #428bca;
            padding : 5px 15px;
        }

        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 150px;
            background-color: #c6c6c6;
        }

        #rewards{
            border: 1px solid #ddd;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .well{
            background-color: #428bca;
            color: #eee;
        }

        #user{
            background-color: #eeeeee;
            color: #333333;
            border-radius: 5px;
        }

    </style>
</head>

<body onload="Loading()">

<div class="navbar navbar-default navbar-static-top hidden-xs" id="topmenu">
    <div class="container">
        <div class="col-sm-offset-4 col-sm-4">
            <a href="/admin" class="navbar-brand hover-class" style="font-size:24px; margin-left:25px;"> Employee Rewards </a><!--end of navbar-brand-->
        </div>

    </div><!-- end of navbar-container -->
</div><!-- end of navbar -->

<div class="navbar navbar-default navbar-static-top" id="submenu">
    <div class="container">
        <div class="col-sm-offset-4 col-sm-4 hidden-sm hidden-md hidden-lg">
            <a href="/admin" class="navbar-brand hover-class" style="font-size:24px;"> Employee Rewards </a><!--end of navbar-brand-->
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="col-sm-2"></div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav removePadd col-sm-8 ">
                <li class="col-xs-12 col-sm-3 menu-item" style="text-align:center;">
                    <a href="/admin"><span class="glyphicon glyphicon-education"></span> Employee</a>
                </li>
                <li class="col-xs-12 col-sm-3 dropdown menu-item active" style="text-align:center;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-gift"></span> Rewards <span class="caret"></span></a>

                    <ul class="dropdown-menu" style="margin-left:20px;" role="menu" aria-labelledby="dLabel">
                        <li><a tabindex="-1" href="/reward">Add Rewards</a></li>
                        <li><a tabindex="-1" href="/view">View Rewards</a></li>
                    </ul>
                </li>
                <li class="col-xs-12 col-sm-3 menu-item" style="text-align:center;"><a href="/view"><span class="glyphicon glyphicon-folder-open"></span> Reports</a></li>
                <li class="col-xs-12 col-sm-3 dropdown menu-item" style="text-align:center;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="margin-left:10px;" role="menu" aria-labelledby="dLabel">
                        <li><form method="post" action="/logout"><button type="submit" style="margin-left: 30px;" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-power"></span> Signout </button></form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well col-xs-8 col-xs-offset-2" id="rewards">
            <div id="View" class="col-xs-12">
                <h3>View Rewards : </h3>

                <% if(reward.count == 0){ %>
                <p><span class="glyphicon glyphicon-remove-circle"></span> There are no Rewards Registered!</p>
                <% } else { %>
                <div class="table-responsive" >
                    <table class="table" id="user">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Show To User</th>
                            <th>Points</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="reward_table">
                        <% for(var item in reward.rewards) { %>
                        <% console.log(reward.rewards); %>
                        <tr>
                            <td><%= reward.rewards[item].id %></td>
                            <td><%= reward.rewards[item].date %></td>
                            <td><%= reward.rewards[item].show %></td>
                            <td><%= reward.rewards[item].Points %></td>
                            <td><%= reward.rewards[item].Reason %></td>
                            <td>
                                <span onclick="editRewards(<%= reward.rewards[item].No %>)" class="glyphicon glyphicon-edit"></span>
                                <span onclick="del(<%= reward.rewards[item].No %>)" class="glyphicon glyphicon-remove"></span>
                            </td>
                        </tr>
                        <% }%>
                        </tbody>
                    </table>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                <img class="img-rounded" style="border-radius : 100px; margin-left:150px; margin-top:20px;" height="75px" width="75px" src="images/logo.jpg" alt="logo">
                <div class="col-xs-12 col-sm-12">
                    <p><span class="glyphicon glyphicon-copyright-mark"></span>  All the rights for this sights are reserved 2016 !</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/vscript.js"></script>

</body>

</html>